{% extends 'layout.html'%}
<!-- sin el block contens solo se ejecuta layou-->
<!-- lo que esta en el block content se pasa a layout para que se ejecute-->
{% block titulo %}Listado ingredientes de una Receta{% endblock %}
{% block content %}
<h1>Ingredientes de {{receta}}&nbsp;
  <a href="{{url_receta}}">
    {% if tipo_receta == '3' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
      <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
      <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
      <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
    </svg>
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
      <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg>
    {% endif %}
  </a>
</h1>
<form action="" method="post">
  <input type="hidden" name="returnrecetaid" value="{{id_receta}}"/>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ingrediente</th>
          <th scope="col" style="text-align:right">Cantidad</th>
          <th scope="col">Unidad</th>
          <th scope="col">Quitar</th>
        </tr>
      </thead>    
      <tbody>
  {% for i in ingredientes %} <!--el llave% es para las funciones de python -->  
          <input type="hidden" name="idingrediente" value="{{i['id']}}"/>
          <tr>
              <td> 
                {{ i['name'] }}
              </td>
              
              
              <td style="text-align:right">
                <input type="number" step="0.001" name="cantidad" value="{{ i['cantidad'] }}" />
              </td>
              <td>
                <select name="unidad" id="unidad" >
                  <option value="{{ i['unidad'] }}">{{ i['unidad'] }}</option>                
                  <option value="Al Gusto">AL Gusto</option>
                  <option value="Cabezas">Cabezas</option>
                  <option value="Cucharadas">Cucharadas</option>
                  <option value="Cucharaditas">Cucharaditas</option>
                  <option value="Costillas">Costillas</option>
                  <option value="Dientes">Dientes</option>
                  <option value="Filete">Filete</option>
                  <option value="Gotas">Gotas</option>
                  <option value="Hojas">Hojas</option>
                  <option value="Lata">Lata</option>
                  <option value="Minutos">Minutos</option>
                  <option value="Kg">Kg</option>
                  <option value="Lts">Lts</option>
                  <option value="mls">mls</option>
                  <option value="Grs">Grs</option>
                  <option value="Paquetes">Paquetes</option>
                  <option value="Ramitas">Ramitas</option>
                  <option value="Rodajas">Rodajas</option>
                  <option value="Taza">Taza</option>
                </select>
              </td>
              <td>
                <a href="{{url_for('quitaringredienteareceta', recetaid=id_receta, idingrediente=i['id'])}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg></a>
              </td>
          </tr>       
  {% endfor %}
      </tbody>
  </table>
  <hr />
  <input type="submit" value="Enviar" title="Emviar el formulario" class="btn btn-primary" />

</form>

<hr/>
<a href="{{url_for('agregaringredienteareceta', recetaid=id_receta)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agregar ingredientes</a>

{% endblock %}

